@{
    ViewBag.Title = "Home";
}
<!--start intro section-->
	<section id="intro">
		<div id="carousel_intro" class="carousel slide fadeing">
			<div class="carousel-inner">
				<div class="active item" id="slide_1" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
					<h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;">Made with <i class="icon-heart"></i> and <i class="icon-coffee"></i> at awerest</h1>
				</div>
				<div class="inactive item" id="slide_2" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
					<h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;">Make easy <i class="icon-magic"></i> animation</h1>
				</div>
				<div class="inactive item" id="slide_3" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
					<h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;">Ready for <i class="icon-rocket"></i> when you are</h1>
				</div>
			</div>
		<button class="left carousel-control" href="#carousel_intro" data-slide="prev" data-start="opacity: 0.6; left: 0%;" data-250="opacity:0; left: 5%;"><i class="icon-chevron-left"></i></button>
		<button class="right carousel-control" href="#carousel_intro" data-slide="next" data-start="opacity: 0.6; right: 0%;" data-250="opacity:0; right: 5%;"><i class="icon-chevron-right"></i></button>
		</div>
	    <div class="hidden-sm more">
	        <a href="/Membership" class="btn btn-cool squared" data-start="opacity:1; margin-top: 0%;" data-150="opacity:0; margin-top: -10%; width:100px;"> Sign Up</a>
	        <a href="#services" class="btn btn-cool squared" data-start="opacity:1; margin-top: 0%;" data-150="opacity:0; margin-top: -10%;"><i class="icon-angle-down"></i> See more</a>
            
	    </div>
	</section>
<!--end intro section-->
<!--start services section-->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-6">
					<i class="icon-map-marker fancy" data-bottom-center="opacity: 0;" data-bottom-bottom="opacity: 1;"></i>
					<h3>Find A Dinner</h3>
					<h5>Or host your own</h5>
					<p><small>It doesn't matter where you are. See dinners that others have made nearby or host your own.</small></p>
				</div>
				<div class="col-lg-4 col-sm-6">
					<i class="icon-food fancy" data-bottom-center="opacity: 0;" data--60-bottom-bottom="opacity: 1;"></i>
					<h3>Eat</h3>
					<h5>It's that easy</h5>
					<p><small>Meet three other people and have a meal together. Make friends, meet new people or, at the very least, just have a nice dinner.</small></p>
				</div>
				<div class="col-lg-4 col-sm-6">
					<i class="icon-comments fancy" data-bottom-center="opacity: 0;" data--120-bottom-bottom="opacity: 1;"></i>
					<h3>Get a response</h3>
					<h5>Learn about yourself</h5>
					<p><small>Give and receive private, anonymous feedback on the night. Are you a good host or guest? Find your strengths.</small></p>
				</div>
			</div>
		</div>
	</section>
<!--end services section-->
<section id="callToAction" class="content">
    <div class="row">
        <h1 class="text-center">Take a Bite!</h1>
        <div class="col-lg-8 col-offset-2 text-center">
            <p class="text-center">See what's near you. Join a dinner. Host a dinner. All completely free:<br><br>
                <a class="btn btn-syndicate btn-large squared" href="/Membership">Sign Up Now</a></p>
        </div>
    </div>
</section>
<!--start details section-->
	<section id="details" class="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-offset-2">
				</div>
				<div class="col-lg-6 col-sm-6">
					<blockquote>
						<p>I don't care that they stole my idea . . I care that they don't have any of their own.
						<small>Nikola Tesla, <cite title="Source Title">Serbian inventor</cite></small></p>
					</blockquote>
				</div>
				<div class="col-lg-6 col-sm-6">
					<blockquote>
						<p>If there is anything that a man can do well, I say let him do it. Give him a chance.
						<small>Abraham Lincoln, <cite title="Source Title">President of the United States</cite></small></p>
					</blockquote>
				</div>
				<div class="col-lg-6 col-sm-6">
					<blockquote>
						<p>The superior man understands what is right; the inferior man understands what will sell.
						<small>Confucius, <cite title="Source Title">Chinese teacher, editor, politician, and philosopher</cite></small></p>
					</blockquote>
				</div>
				<div class="col-lg-6 col-sm-6">
					<blockquote>
						<p>If you cannot work with love but only with distaste, it is better that you should leave your work.
						<small>Khalil Gibran, <cite title="Source Title">Lebanese-American artist, poet, and writer</cite></small></p>
					</blockquote>
				</div>
			</div>
		</div>
	</section>
<!--end details section-->
