@*<div class="container">
    <div class="navbar navbar-top">
        <div class="navbar-inner">
            <div class="container">

                <!-- Logo -->
                <a class="brand" href="~/Home"></a>
                
                <!-- Account -->
                <ul class="account">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="welcome">Welcome</li>
                        <li class="logout">
                            @Html.ActionLink("Log out", "LogOff", "Membership")
                        </li>       
                    }
                    else
                    {
                        <li class="login">
                            @Html.ActionLink("Log In", "LogIn", "Membership")
                        </li>
                    }
                </ul>                    
            </div>
        </div>
    </div>
</div>*@
 <!--start navigation-->
    <div class="navbar navbar-fixed-top">
        <div class="container" data-start="padding: 15px 0px;" data-200="padding: 0px 0px;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><img class="img-responsive" src="http://placehold.it/166x40" alt=""></a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="#intro">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="features.html">Features</a></li>
                    <li><a href="work.html">Work</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
 <!--end navigation-->