<div class="container">
    <div class="navbar navbar-sub">
        <div class="navbar-inner">
            <div class="container">

                <div class="btn-group ">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        My Account
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="first">@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                        <li><a href="#">Meals</a></li>
                        <li><a href="#">People</a></li>
                        <li class="last"><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>