@using Common.Enums
@model Web.Models.DinnerList.DinnerListModel
@{
    ViewBag.Title = "DinnerList";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>Dinner List</h2>


@section PageScripts
{
}
