/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


#googleMap {
    height: 450px;
}

.form-control-inline {
    display: inline-block;
    width: 200px;
    height: 55px;
    color: #25272B;
	text-align: center;
	border: 0;
	outline: none;
	resize: none;
	background: #eeeff2;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

.soft-hidden {
    display: none;
}

.heading-inline {
    display: inline-block;
}

.custom-alert {
    position: fixed;
    top: 20%;
    z-index: 100;
    right: 30%;
    left:30%
}

.comment {
    margin: 15px 0 5px 0;
    padding: 10px 0px;
    list-style: none;
    border-bottom: 1px solid #d2d2d2;
}

.comment-text {
    padding: 10px 20px 25px;
    font-weight: normal;
    text-transform: none;
    margin: 10px 5px 10px 0;
}

body {
    background: #fAfAfA;
}